services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: szukamdja_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - db

  web:
    image: nginx:1.27-alpine
    container_name: szukamdja_web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.4
    container_name: szukamdja_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: szukamdja
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: szukamdja
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
